@import url('assets/symbols/symbols.css');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Fragment+Mono:ital@0;1&family=Instrument+Serif:ital@0;1&display=swap');

body {
	background: white;
	border: none;
	font-family: 'Courier Prime';
	margin: 0
}

img {
    shape-rendering: crispEdges;
}
form {
	width: 55mm;
	border-bottom: dashed thin black;
}
form a {
	text-decoration: underline;
	color: blue;
}

label {
	color:blue;
	text-decoration: underline;
}

h1 .symbol {
	margin: 1mm;
	padding: 0;
	float: left;
}

h2 {
    margin: 0;
    padding: 0;
}

.card {
	width: 55mm;
	height: 77mm;
	position: relative;
	overflow: hidden;
	margin: 0px;
	border-bottom: dashed thin black;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-content: start;
}

.symbol {
    display: inline;
    height: 0.95em;
	vertical-align:-10%;
    width: 0.95em;
    padding-left:0.3mm;
    padding-right: 0.3mm;
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=-1, OffY=1, Color='#000')";
    filter: url(#shadow);
    -webkit-filter: drop-shadow(-1px 1px #000);
    filter: drop-shadow(-1px 1px #000);
}



.name-cost-flex {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: normal;
	align-items: first baseline;
	align-content: normal;
}

.name {
	font-size: 4mm;
	font-family: 'Courier Prime';
	text-shadow: none;
	width: 100%;
	margin-top: 2mm;
	margin-bottom: 1mm;
	display: block;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: auto;
	align-self: auto;
	order: 0;
}

.cost {
	display: block;
	flex-grow: 0;
	flex-shrink: 1;
	flex-basis: auto;
	align-self: auto;
	order: 1;
	text-align: right;
}

.art {
	width: 100%;
	height: 0mm;
	max-height: 40mm;
	display: block;
	flex-grow: 1;
}

.card:has(.hide) {
	max-height: 77mm;
	height: unset;
}

.hide {
	display: none !important;
}

.diy .illustration{
	background: none !important;
	border: solid thin black;
	box-sizing: border-box;
}

.diy .illus {
	display: none;
}

.illustration {
	width: 100%;
	height: 100%;
}

.illus {
	color: rgba(255, 255, 255,0.8);
	font-size: 2.5mm;
	text-shadow: 1px 1px 0px black;
	position: absolute;
	right: 0mm;
	padding: 1mm;
}

.types {
	font-size: 3mm;
	font-style: italic;
	color: black;
	display: block;
	margin-top: 2mm;
	margin-bottom: 2mm;
}

.text {
    font-size: 3mm;
	margin-bottom: 3mm;
}

.flavor {
	font-style: italic;
	display: inline-block;
	margin-top: 2mm;
    text-align: left;
    width: 100%;
}



.stats {
    color: black;
    font-size: 4mm;
	font-style: italic;
    position: absolute;
    bottom: 1mm;
    right: 1mm;
	font-weight: bold;
	color: black;
}

em {
    font-weight: 800;
}

hr {
	margin: 1pt;
	opacity: 0;
}

.flavor hr {
   margin: 0;
}