@import url('assets/fonts/goudy/stylesheet.css');
@import url('assets/fonts/crimson-numbers/stylesheet.css');
@import url('https://fonts.googleapis.com/css?family=Lustria');
@import url('https://fonts.googleapis.com/css?family=Radley:400,400i|Vollkorn:400,400i,600,600i,700,700i,900,900i');
@import url('assets/symbols/symbols.css');
body {
	font-family: crimson_textregular, Radley;
	font-size: 12pt;
  background-color:lightgray;
}
img {
    shape-rendering: crispEdges;
}
form {
    max-width: 600px
}
form a {
	text-decoration: underline;
	color: blue;
}

label {
	color:blue;
	text-decoration: underline;
}

h1 {
    font-family: goudymedievalregular;
}

h2 {
    margin: 0;
    padding: 0;
    font-family: goudymedievalregular;
}

.card {

	width: 63mm;
	height: 88mm;
	position: relative;
	overflow: hidden;
	border-radius: 10px;
	box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.28);
	background: white;
	margin: 10px;
	float: left;
	background-color: black;
}

.symbol {
    display: inline;
    height: 0.8em;
	vertical-align:-10%;
    width: auto;
    padding-left:0.3mm;
    padding-right: 0.3mm;
       /* filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=-1, OffY=1, Color='#000')";
    filter: url(#shadow);
    -webkit-filter: drop-shadow(-1px 1px #000);
    filter: drop-shadow(-1px 1px #000); */
}


.frame {
	width: 100%;
	height:100%;
	position: absolute;
	top:0;
	left:0;
	padding: 3.5mm;
	box-sizing: border-box;
}

.W .frame{
	background-image: url('assets/frame_white.png');
	background-size: contain;
}

.U .frame {
	background-image: url('assets/frame_blue.png');
	background-size: contain;
}
.B .frame{
	background-image: url('assets/frame_black.png');
	background-size: contain;
}
.R .frame {
	background-image: url('assets/frame_red.png');
	background-size: contain;
}
.G .frame {
	background-image: url('assets/frame_green.png');
	background-size: contain;
}

.Gold .frame {
	background-image: url('assets/frame_gold.png');
	background-size: contain;
}

.Artifact .frame {
	background-image: url('assets/frame_artifact.png');
	background-size: contain;
}

.Land .frame {
	background-image: url('assets/frame_land_generic.png');
	background-size: contain;
}

.LandW .frame {
	background-image: url('assets/frame_land_white.png');
	background-size: contain;
}
.LandU .frame {
	background-image: url('assets/frame_land_blue.png');
	background-size: contain;
}
.LandB .frame {
	background-image: url('assets/frame_land_black.png');
	background-size: contain;
}
.LandR .frame {
	background-image: url('assets/frame_land_red.png');
	background-size: contain;
}
.LandG .frame {
	background-image: url('assets/frame_land_green.png');
	background-size: contain;
}

span, h1, h2 {
	box-sizing: inherit;
    text-rendering: geometricPrecision;
}

.name {
	font-family: goudymedievalregular;
	font-size: 3.3mm;
	color: white;
    text-shadow: 1px 1px 0px black;
	position: absolute;
	left: 7mm;
	top: 4.1mm;
	display: inline-block;
	width: 51mm;
	color: rgb(240, 240, 240);
	letter-spacing: 0.22mm;
}

.cost {
	margin-top: 0.15mm;
	float: right;
}
.cost span {
	margin-left: 0.2mm;
}

.illustration {
    position: absolute;
    left:7.25mm;
    top:8.23mm;
    width: 49mm;
    height: 39mm;
	background-size: cover;
    background: white;
}

.types {
    color: white;
    font-size: 3mm;
    text-shadow: 1px 1px 0px black;
    position: absolute;
    top: 47.8mm;
    left: 7mm;
		color: rgb(240, 240, 240);
}

.set {
    display: inline;
    font-size: 3mm;

    width: auto;
		position: absolute;
		top: 48.6mm;
		right: 7mm;
}
.Common, .Basic {
	color: black;
	text-shadow: -0.2mm -0.2mm 0 white,
				0 -0.2mm 0 white,
				0.2mm -0.2mm 0 white,
				0.2mm 0 0 white,
				0.2mm 0.2mm 0 white,
				0 0.2mm 0 white,
				-0.2mm 0.2mm 0 white,
				-0.2mm 0 0 white;
}
.Uncommon {
	color: silver;
	text-shadow: -0.2mm -0.2mm 0 #000,
													0 -0.2mm 0 #000,
													0.2mm -0.2mm 0 #000,
													0.2mm 0 0 #000,
													0.2mm 0.2mm 0 #000,
													0 0.2mm 0 #000,
													-0.2mm 0.2mm 0 #000,
													-0.2mm 0 0 #000;
}
.Rare {
	color: gold;
	text-shadow: -0.2mm -0.2mm 0 #000,
													0 -0.2mm 0 #000,
													0.2mm -0.2mm 0 #000,
													0.2mm 0 0 #000,
													0.2mm 0.2mm 0 #000,
													0 0.2mm 0 #000,
													-0.2mm 0.2mm 0 #000,
													-0.2mm 0 0 #000;
}
.Mythic {
	color: orange !important;
	text-shadow: -0.2mm -0.2mm 0 #000,
													0 -0.2mm 0 #000,
													0.2mm -0.2mm 0 #000,
													0.2mm 0 0 #000,
													0.2mm 0.2mm 0 #000,
													0 0.2mm 0 #000,
													-0.2mm 0.2mm 0 #000,
													-0.2mm 0 0 #000;
}


.text_wrapper{
    position: absolute;
    top: 52mm;
    width: 48mm;
    height: 23.7mm;
    left:7.2mm;
    font-size: 8.5pt;
    white-space:pre-wrap;
    line-height: 9pt;
}

.text {
    vertical-align: middle;
}

.flavor {
	font-style: italic;
	display: inline-block;
	margin-top: 2mm;
    text-align: left;
    width: 100%;
}

.illus {
	color: rgba(230,230,230,1);
	width: 48mm;
	font-size: 2.5mm;
	text-shadow: 1px 1px 0px black;
	position: absolute;
	bottom: 6.5mm;
	left:6.8mm;
	text-align: center;
}

.stats {
    color: white;
    font-size: 4mm;
    text-shadow: 1px 1px 0px black;
    position: absolute;
    bottom: 5.3mm;
    right: 6mm;
		font-weight: bold;
		color: rgb(240, 240, 240);
}

em {
    font-weight: 800;
}

hr {
margin: 1pt;
opacity: 0;
}

.flavor hr {
   margin: 0;
}


.low-ink .illustration {
    filter: grayscale(0) contrast(0.7) brightness(1.2);
		border: 0.5mm silver inset;
		box-sizing: border-box;
}

.low-ink .frame {
	background: none;
	outline: 0.5mm lightgray outset;
	outline-offset: -3.3mm;
}

.low-ink span {
	color: black !important;
	text-shadow: none !important;

}
.low-ink {
	background: white;
	border: none;
}

@media print {
    body {
        background: white;
        margin: -2mm -2mm
    }

	.card {
		box-shadow: none;
		border: 1px dashed black;
        border-radius: 0;
        margin: 0;
        page-break-inside: avoid;
	}


	form {
		display: none;
	}
}

@page
{
    size: A4;   /* auto is the initial value */

    /* this affects the margin in the printer settings */
    margin: 0mm 0mm 0mm 0mm;
}
